* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body fixed to cover the whole window */
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}
/* header margins */
h1{
  margin-bottom: 5vh;
  margin-top: 3vh;
}
/* form part */
form {
  padding: 20px 50px;
}
form input:first-child , form input:last-child{
  width: 350px;
  height: 35px;
  padding: 2px;
  font-family: 'Press Start 2P', cursive;
}
form input:first-child::placeholder {
  padding-left: 4px;
}
form input:last-child:hover{
  transition: 0.3s;
}
  form input:last-child{
    width: 60px;
    padding: 2px;
}

form input:focus{
  outline: var(--dark-mode-input-border-color) solid 2px;
}
/* list */
ul{
  list-style: none;
}
ul li{
  height: 24px;
  border-radius: 2px;
  margin-bottom: 3px;
  font-size: 16px;
  min-width: 450px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid;
}
.done {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}
/* buttons */
button{
  font-family: 'Press Start 2P', cursive;
  padding: 3px;
}
button:first-child{
  margin-left: 20px;
  margin-right: 10px;
}
