* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body fixed to cover the whole window */
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}
/* header margins */
h1{
  margin-bottom: 5vh;
  margin-top: 3vh;
}
/* form part */
form {
  padding: 20px 50px;
}
form input:first-child , form input:last-child{
  width: 350px;
  height: 35px;
  padding: 2px;
  font-family: 'Press Start 2P', cursive;
}
form input:first-child::placeholder {
  padding-left: 4px;
}
form input:last-child:hover{
  transition: 0.3s;
}
  form input:last-child{
    width: 60px;
    padding: 2px;
}

form input:focus{
  outline: var(--dark-mode-input-border-color) solid 2px;
}
/* list */
ul{
  list-style: none;
}
ul li{
  height: 24px;
  border-radius: 2px;
  margin-bottom: 3px;
  font-size: 16px;
  min-width: 450px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid;
}
.done {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}
/* buttons */
button{
  font-family: 'Press Start 2P', cursive;
  padding: 3px;
}
button:first-child{
  margin-left: 20px;
  margin-right: 10px;
}

body::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  animation: flicker 0.15s infinite;
  
}
@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}