:root {
  --dark-mode-body: 	#131313;
  --dark-mode-header-color: #3ead63;
  --dark-mode-header-shadow-color: #67ec6c7e;
  --dark-mode-task-bg-color: rgb(27, 90, 22);
  --dark-mode-task-text-color: #FFF;
}
